# requirements.txt

appdirs==1.4.4
asteval==0.9.29
astor==0.8.1
asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
fonttools==4.39.4
future==0.18.3
h5py==3.8.0
hdf5plugin==4.1.1
imageio==2.27.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipython==8.12.2
jedi==0.18.2
kiwisolver==1.4.4
lazy-loader==0.2
llvmlite==0.39.1
lmfit==1.2.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
natsort==8.3.1
networkx==3.1
numba==0.56.4
numba-progress==0.0.4
numpy==1.23.0
numpy-indexed==0.3.7
packaging==23.1
pandas==2.0.0
pandasgui==0.2.14
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
plotly==5.14.1
prompt-toolkit==3.0.38
psutil==5.9.4
pure-eval==0.2.2
pyarrow==12.0.0
Pygments==2.15.1
pynput==1.7.6
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.13.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySide2==5.15.2.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
qtstylish==0.1.5
scikit-image==0.20.0
scipy==1.9.1
shiboken2==5.15.2.1
six==1.16.0
stack-data==0.6.2
tenacity==8.2.2
tifffile==2023.3.21
tqdm==4.65.0
traitlets==5.9.0
typing-extensions==4.6.1
tzdata==2023.3
uncertainties==3.1.7
wcwidth==0.2.6
WMI==1.5.1
wordcloud==1.9.2
zipp==3.15.0
